:root {
    --black: #1D1616;
    --cyan: #4169E1;

    --black_card: #212121;
    --black_link: #1D1616;

    --white_hover: #DBDBDB;

    --std_font: sans-serif, Helvetica, Verdana;
}

@font-face {
    font-family: "Manolo";
    src: url("../font/manolo-mono.ttf");
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cyan);
    overflow-x: hidden;
}

h1.title {
    font-family: var(--std_font);
    font-weight: 1000;
    color: var(--white_hover);

    font-size: clamp(40px, 6vw, 500px);
    font-style: italic;

    position: relative;
    top: -17vh;
}

#body_3D {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

#container3D {
    width: 80vw;
    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
#container3D canvas {
    width: 100% !important;
    height: 100% !important;

    display: flex;
    align-items: center;
    justify-content: center;
}
#container2D {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#card {
    background-color: var(--black_card);
    border-radius: 20px;

    width: 35vw;
    height: auto;

    min-width: 300px;

    display: flex;
    flex-direction: column;

    font-family: var(--std_font);
    color: var(--white_hover);
  
}

#card > h1 {
    margin: 0 auto;
    padding: 0px;
    padding-top: 20px;
}
#card hr {
    border: 3px solid var(--white_hover);
    border-radius: 10px;

    margin: 0 auto;
    width: 15vw;

    margin-top: 10px;
    padding: 0px;
}

.lights {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-evenly;
    
}
.card_button {
    display: flex;
    flex-direction: row;
    
    width: auto;
    height: 4em;

    margin: 20px 10px 0px 10px;

    align-items: center;
    justify-content: center;
    align-self: flex-start;

    background-color: var(--black);

    border-radius: 10px;

    flex: 2 1 auto;
}
.card_button img {
    display: block;
    height: 40px;
    padding-left: 10px;
}
.card_button img:nth-child(4) {
    padding-left: 0px;
}

#close { width: 100%; }
#also_close { width: 100%; }


.special_card_button {
    display: flex;
    flex-direction: row;

    width: 6em;
    height: 6em;

    margin: 20px 10px 0px 10px;

    align-items: center;
    justify-content: center;
    align-self: flex-start;

    background-color: var(--black);
    border-radius: 10px;

    flex: 1 1 auto;
}
.special_card_button:last-child {
    margin-bottom: 20px;
}
.special_card_button > h1 {
    font-size: 150%;
}

#termost { width: 3em; }
#watt { width: 2.5em; } 
#clock { width: 4em; }



#cookie_blinder {
    z-index: 2;

    background: rgba(0, 0, 0, 0.85);

    width: 100vw;
    height: 100vh;

    position: absolute;

    top: 0%;
    left: 0%;

    display: none;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;
}




@media screen and (max-width: 1180px) {
    h1.title { top: -20vh !important; }
    #container3D { clear: both; }
    #container2D { width: 100%; }
}
